<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/skeleton.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="twelve column" style="margin-top: 15%"></div>
        {{ content }}
      </div>
    </div>
  </body>
</html>
